
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> List </title>
</head>
<body>
    <a href="{% url 'home' %}">Homepage</a> <a href="{% url 'create' %}">New Article</a>
    {% for article in articles %}
        <ul style=" list-style-type: none;" >
            <li>
                <h1>{{article.title}}</h1>
                <p> Author: {{article.author}}</p>
                <a href="{% url 'article-detials' article.id %}">View Article</a>
            </li>
            <li>
                
            </li>
        </ul><br>
    {% endfor %}
</body>
</html>
