{% extends "base.html" %}

{% block title %}
   Articles List
{% endblock title %}

{% block content %}

<div class="row">
{% for article in articles %}
<div class="col-lx-4 col-lg-4 col-m-4 col-sm-12 col-12 ml-5">
    <div class="card mt-5 mb-3" style="width: 18rem;">
        <img src="{{article.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">Author: {{article.author}}</p>
        {% for type in article.food_type.all %}
        <span class="badge badge-secondary">{{type}}</span>
        {% endfor %}
        <a href="{% url 'article-detials' article.id %}" class="btn btn-primary mt-3">View</a>
        </div>
  </div>
  </div>
{% endfor %}
</div>
{% endblock content %}

